rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function getUserRol(){
    	return get(/databases/$(database)/documents/backoffice-users/$(request.auth.uid)).data.userRol
    }
      
    function getUserResources(userRol){
      return get(/databases/$(database)/documents/backoffice-app/userRol).data[userRol].resources
    }

    function getStockLocationId(){
    	return "SPREE_ORDERS_" + string(resource.data.shipment_stock_location_id)
    }
  
    match /{document=**} {    
			allow read, update, delete: if getUserRol() == "admin" || getStockLocationId() in getUserResources(getUserRol());
    }

    match /backoffice-users/{document=**}{   
    	allow read, update, delete: if getUserResources(resource.data.userRol) == getUserResources(getUserRol()) ;
    }
    
  }
}