:host{
    font-size: 0.7em;
}

.image{
    width: 40vw;
    height: calc(100vh);
    img{
        z-index: -1;
        height: 100%;
        width: auto;
        filter: contrast(0.4);
        position: absolute;
        top: 0;
    }
    mat-card{
        margin: 12px;
    }
}

.ingredients-container{
    transition: 0.4s ease;
    background-color: white;
    box-shadow: -1px 0 5px 15px rgba(0,0,0,0.0);
}