
:host{
  box-shadow: 4px 4px 4px 0px rgb(0 0 0 / 40%) !important;
  width: 100%;
}

.persistent-notification{
  margin-bottom: 6px;
    width: 100%;
    color: white;
    padding: 0.8em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    font-size: 0.8em;
}

.bg {
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(59,173,227,1) 0%, 
          rgba(87,111,230,1) 25%, 
          rgba(152,68,183,1) 51%, 
          rgba(255,53,127,1) 100%
    );  
    animation: AnimateBG 4s ease infinite;
    &-green{
      background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgb(30, 151, 123) 51%, 
        rgb(5, 231, 110) 100%
      );  
    }
  }
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

  mat-icon{
    margin-bottom: -0.3em;
  }