@import './theme.scss';

.p{
  padding: 16px;
  &-t{
    padding-top: 16px;
  }
  &-l{
    padding-left: 16px;
  }
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.primary-color{
  color: var(--primary-color)
}

.accent-color{
  color: var(--accent-color)
}

.accent-bg{
  background: var(--accent-color);
  color: white;
  
}

.yellow-bg{
  background: #FFF1C0;
  color: white;
}

.red-bg{
  background: #FFCCC0;
}


mat-card{
  &.hoverable{
    opacity: 0.5;
    transition: 0.5s ease;
    &:hover{
      cursor: pointer;
      opacity: 1;
    }
  }
  &.small{
    width: 96px;
    height: 264px;
    margin: 16px;
    img{
      width: 128px;
      height: auto;
    }
  }
  margin-top: 12px;
  margin-bottom: 12px;
}

mat-toolbar{
  position: relative;
  z-index: 100;
}

body{
  margin: 0 !important;
  max-height: 100vh;
  overflow: hidden;
}

.edit{
  margin-left:1em;
  color: var(--primary-color);
  fill: var(--primary-color);
  &:hover{
    cursor: pointer;
  }
}

mat-form-field{
  width: 100%;
}

.divider{
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 12px;
}

.translated{
  border-radius: 15px 15px 0 0;
  transform: translateY(-200px);
  padding: 12px;
  box-shadow: -4px -4px 4px 0px rgb(0 0 0 / 10%) !important;
}

.drag-n-drop{
  width: 96px;
  height: 96px;
  border-radius: 15px;
  background-color: var(--accent-color);
  color: white !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  font-size: 0.6em;
  transition: 0.4s ease;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
  text-align: center;
  margin-bottom: 24px;
  &:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
  }
}

.mini-image{
  height: 96px;
  width: auto;
  border-radius: 16px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1)
}

.firestore-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info{
  width: 6em;
  display: flex;
  justify-content: space-between;
}

.ingredient{
  width: 40em;
  display: flex;
  justify-content: space-between;
  mat-form-field{
    width: 4em;
  }
  h6{
    width: 3em;
    text-align: center;
  }
  p{
    width: 32em;
  }
  mat-icon{
    &:hover{
      cursor: pointer;
      fill: red;
      color: red;
    }
  }
}

.spacer{
  flex: 1 1 auto;
  display: flex;
  h2{
    margin: 0 1em;
    font-size: 0.8em;
  }
}
.bars{
  display: flex;
  flex-direction: column;
  .bar{
      background-color: green;
      border-radius: 1px solid black;
  }
}

.hoverable{
  &:hover{
    cursor: pointer;
    font-weight: bold;
  }
}

.shadow{
  box-shadow: 4px 4px 4px 0px rgb(0 0 0 / 10%) !important;
}

.half-card{
  background-color: white;
  border-radius: 25px 25px 0 0;
  height: 100%;
  overflow: scroll;
}

button[mat-button], button[mat-raised-button], button[mat-stroked-button]{
  border-radius: 50px;
}

.status-chip{
  background-color: #00CCD9;
  color: white;
  padding: 6px 12px;
  border-radius: 35px;
  font-size: 0.8em;
  &-completed{
    background-color: var(--primary-color);
  }
  &-canceled, &-returned{
    background-color: #FF961B !important;
    color: white;
  }
}

table{
  width: 100%;
}
.mat-form-field-infix{
  display: flex !important;
}

.mat-form-field-should-float{
  color: black !important;
}

img[name=sign-in-with-google]{
  transition: 0.2s ease;
  &:hover{
    cursor: pointer;
  }
  &:active{
    filter: contrast(0.8)
  }
}

.mat-drawer-content{
  overflow: hidden !important;
  height: calc(100vh - 65px) !important;
}

.example-sidenav-content{
  overflow: hidden !important;
  height: 100%;
}

.example-sidenav{
  height: 100%;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}

.gradient {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #04C8D4 8%, #04C8D4 38%, #fafafa 54%);
  background-size: 1000px 640px;
  
  position: relative;
  
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}