.menu{
    height: 100vh;
    width: 14em;
    background-color: #424962;
    .menu-item{
        color: white;
        text-align: left;
        padding: 6px 12px;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: space-between;
        transition: 0.4s ease;
        &:hover, &.selected{
            background-color: white;
            color: var(--accent-color);
            cursor: pointer;
        }
        p{
            margin: 0;
            text-transform: uppercase;
            font-size: 0.8em;
        }
    }
}